name: Scheduled Workflow

on:
  schedule:
    - cron: '0 13 * * 1-5'
  # Add this to enable manual triggering
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run against'
        required: true
        default: 'test'
        type: choice
        options:
        - test
        - staging
        - production


jobs:
  run-main-branch:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3

      - name: Run your script
        run: |
          echo "Running scheduled job on main branch at 9 PM"
          # Add your commands here

